.wrapper {
  padding-right: 30px;
  padding-bottom: 22px;
  padding-left: 20px;
  overflow-y: auto;
}

.list-title {
  margin-bottom: 10px;
}

.message {
  color: $secondary-color;
  font-weight: 400;
  font-size: 14px;
}